In [ ]:
#even odd
num = int(input("enter no\n"))
if num%2==0:
  print("even")

else :
  print("odd")

enter no
45
odd

In [ ]:
#positive negative
num = int(input("enter no\n"))
if num>0:
  print("positive")
elif num==0:
  print("it zero no positive no negative")
else :
  print("negative")

enter no
45
positive

In [ ]:
#grade
num = int(input("enter no 1 to 100\n"))
if num>=80 and num <=100:
  print("A grade")
elif num>=70 and num<=80:
  print("B grade")
elif num>=50 and num<=70:
  print("C grade")
elif num>=0 and num<=50:
  print("D grade")
else:
  print("invalid input")

enter no 1 to 100
101
invalid input

In [ ]:
#incometax after
salary = int(input("Enter Salary\n"))

if salary<=300000:
  tax=0
  print("Tax", tax)
  print("NO tax on Salary below 3Lakhs :", salary)
elif salary>300000 and salary<=500000:
  tax=salary*0.05
  salary=salary-tax
  print("5% Tax", tax)
  print("Tax on Salary 3L to 5L is 5% :", salary)
elif salary>500000 and salary<=1000000:
  tax=salary*0.2
  salary=salary-tax
  print("20% Tax", tax)
  print("Tax on Salary 5L to 10L is 20% :", salary)
else :
  tax=salary*0.3
  salary=salary-tax
  print("30% Tax", tax)
  print("Tax on Salary 5L to 10L is 30% :", salary)

Enter Salary
400000
5% Tax 20000.0
Tax on Salary 3L to 5L is 5% : 380000.0

In [ ]:
#income tax by tax input

salary = int(input("Enter Salary\n"))
t1 = int(input("Enter Tax in %\n"))

t2=t1/100
tax=salary*t2
salary_after_tax=salary-tax
print("Tax on Salary is", tax)
print("Salary After Tax Recived is ", salary_after_tax)

Enter Salary
100
Enter Tax in %
5
Tax on Salary is 5.0
Salary After Tax Recived is  95.0

In [ ]:
#Travel Destination

d="Choice any hills or beach ?\t"
a=input(d)
if a=='hills':
  print("Kullu Manali")
else:
  print("Goa Beach")

Let's Travel
Choice any hills or beach ?	hills
Kullu Manali

In [ ]:
#pass fail
num = int(input("enter no 1 to 100\n"))
if num>=50:
  print("pass")

else :
  print("fail")

enter no 1 to 100
49
fail

In [ ]:
#1 no return modlo return +
num = int(input("Enter no.\n"))
if num<0:
  num=num*-1
  print("Modulo of given no. is",num)
else:
  print("Modulo of given no. is",num)

Enter no.
-5
Modulo of given no. is 5

In [ ]:
#2 no greater/smaller\
a1 = int(input("Enter First Number\n"))
a2 = int(input("Enter Second Number\n"))

if a2>a1:
  
  print("greater", a2)
  print("smaller", a1)

elif a1>a2:
  print("greater", a1)
  print("smaller", a2)

Enter First Number
45
Enter Second Number
12
greater 45
smaller 12

In [ ]:
#3 no greater/smaller
a1 = int(input("Enter First Number\n"))
a2 = int(input("Enter Second Number\n"))
a3 = int(input("Enter Third Number\n"))
if a2>a1 and a1>a3:
  print("greater", a2)
  print("smaller", a3)

elif a1>a2 and a2>a3:
  print("greater", a1)
  print("smaller", a3)

elif a1==a2 and a2==a3:
  print("All no. are equal")
  
else:
  print("greater", a3)
  print("smaller", a2)

Enter First Number
5
Enter Second Number
5
Enter Third Number
5
All no. are equal

In [ ]:
# new code