In [ ]:
#loops
#  for loop (initialization, condition,increment/decrement) all in 1 line ** we use it when we know the limit/range
#  while loop (initialization, condition,increment/decrement) all in 3 different lines ** we use it when we only know condition or any thing

#  all for loop work can be done in while loop
#  but all while loop work cannot be done in for loop

nested for loop

In [ ]:

for i in range(5):
  print("Hello",i+1)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [ ]:
n=10
for i in range(1,n+1):
  print("Hello",i)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [ ]:
n=10

for i in range(1,n+1):
  if i%2==0:
    print("Even",i)
  else:
    print("Odd",i)

Odd 1
Even 2
Odd 3
Even 4
Odd 5
Even 6
Odd 7
Even 8
Odd 9
Even 10

In [ ]:
n = int(input("enter the how many student are: \n"))
for i in range(n):
  num = int(input("enter the students marks in percentage\n"))
  if num>=80 and num <=100:
    print("A grade")
  elif num>=70 and num<=80:
    print("B grade")
  elif num>=50 and num<=70:
    print("C grade")
  elif num>=0 and num<=50:
    print("D grade")
  else:
    print("invalid input")

enter the how many student are:
3
enter the students marks in percentage
89
A grade
enter the students marks in percentage
56
C grade
enter the students marks in percentage
89
A grade

In [ ]:
n=10
s=0
for i in range(1,n+1):
  s=s+i
print("Sum of n natural no",s)

Sum of n natural no 55

In [ ]:
n=5
f=1
for i in range(1,n+1):
  f=f*i
print("factorial of n natural no",f)

factorial of n natural no 120

In [ ]:
# print like 2x1=2

num = int(input("Enter no to print table\t"))
for i in range(1,11):
  t=i*num
  print(num,"x",i,"=",t)

Enter no to print table	2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
#nested for loops

for i in range(3):
  for j in range(3):
    print("*")

*
*
*
*
*
*
*
*
*

In [ ]:
for i in range(3):
  for j in range(3):
    print("*",end=" ")

* * * * * * * * *

In [ ]:


for i in range(3):
  for j in range(3):
    print("*",end=" ")
  print("\n")

* * *

* * *

* * *

In [ ]:
#square  *patter
for i in range(3):
  for j in range(3):
    print("*",end=" ")
  print()

* * *
* * *
* * *

In [ ]:
#rectangle  *patter
for i in range(3):
  for j in range(4):
    print("*",end=" ")
  print()

* * * *
* * * *
* * * *

In [ ]:
#*
#**
#***
#****
#*****
rows = int(input("Enter rows\t"))

for i in range(rows+1):
  for j in range(i):
    print("*",end=" ")
  print()

Enter rows	5

*
* *
* * *
* * * *
* * * * *

In [ ]:
#*****
#****
#***
#**
#*

rows = int(input("Enter rows\t"))

for i in range(rows,0,-1):
  for j in range(i):
    print("*",end=" ")
  print()

Enter rows	5
* * * * *
* * * *
* * *
* *
*

In [ ]:
#*
#**
#***
#****
#*****
#****
#***
#**
#*

rows = int(input("Enter rows\t"))

for i in range(rows+1):
  for j in range(i):
    print("*",end=" ")
  print()
for i in range(rows-1,0,-1):
  for j in range(i):
    print("*",end=" ")
  print()

Enter rows	5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#* 1
#*** 3
#***** 5
#******* 7
#********* 9

rows = int(input("Enter rows\t"))

for i in range(1,rows+1,+1):
  for j in range(0,2*i-1,+1):
    print("*",end=" ")
  print()

Enter rows	5
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

In [ ]:
#with space and 3 loop
#    *
#   * *
#  * * *
# * * * *
#* * * * *

rows = int(input("Enter rows\t"))

for i in range(1,rows+2,+1):
  for space in range(1,rows+2-i,+1):
    print("",end=" ")
  for j in range(1,i,+1):
    print("*",end=" ")
  print(" ")

Enter rows	5

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#pyramid with out space
#    *
#   ***
#  *****
# *******
#*********

rows = int(input("Enter rows\t"))

for i in range(1,rows+2,+1):
  for space in range(1,rows+2-i,+1):
    print(" ",end=" ")
  for j in range(0,2*i-1,+1):
    print("*",end=" ")
  print(" ")

Enter rows	5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [ ]:
#inverse pyramid
#*********
# *******
#  *****
#   ***
#    *

rows = int(input("Enter rows\t"))

for i in range(rows,0,-1):
  for space in range(1,rows+2-i,+1):
    print(" ",end=" ")
  for j in range(0,2*i-1,+1):
    print("*",end=" ")
  print(" ")

Enter rows	5
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
#dimond 
#    *
#   ***
#  *****
# *******
#*********
# *******
#  *****
#   ***
#    *

rows = int(input("Enter rows\t"))

for i in range(1,rows+2,+1):
  for space in range(1,rows+2-i,+1):
    print(" ",end=" ")
  for j in range(0,2*i-1,+1):
    print("*",end=" ")
  print(" ")
for i in range(rows,0,-1):
  for space in range(1,rows+2-i,+1):
    print(" ",end=" ")
  for j in range(0,2*i-1,+1):
    print("*",end=" ")
  print(" ")

Enter rows	5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
#while loop

a=1
while (a<=10):
  print(a)
  a=a+1

print("Rest of code")

1
2
3
4
5
6
7
8
9
10
Rest of code

In [ ]:
a=10
while (a>=0):
  print(a)
  a=a-1

print("Rest of code")

10
9
8
7
6
5
4
3
2
1
0
Rest of code

In [ ]:
n=10
s=0
i=1
while i<=n:
  s=s+i
  i=i+1
print("Sum of n natural no",s)

Sum of n natural no 55

In [ ]:
n=5
f=1
i=1
while (i<=n):
  f=f*i
  i=i+1
print("factorial of n natural no",f)

factorial of n natural no 120